<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ text }}</title>
    <link rel="shortcut icon" href="favicon.ico">
    <link href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&subset=latin,cyrillic-ext,cyrillic'
          rel='stylesheet' type='text/css'>
    <link href="css/errors.css" rel="stylesheet">
    <style>
        .title {
            font-size: 20pt;
        }
    </style>
</head>
<body>
<div class="standard-box">
    <div class="title">{{ text }}</div>
    <div class="msg">{{ description }}</div>
    <div class="button-box"></div>
</div>
</body>
</html>