{% extends "green_page.html" %}
{% block head%}
<link href="/static/css/menu.css" rel="stylesheet" type="text/css">
<link href="/static/css/friends_main_menu.css" rel="stylesheet" type="text/css">
<link href="/static/css/loading_bar.css" rel="stylesheet">
<script src="/static/js/global.js"></script>
<script src="/static/js/friends_main_menu.js"></script>
<script>
    var loaders = {
        "default": {
            false: defaultLoad,
            true: defaultUnload,
            "load": true,
            "title": "Fool | Главное меню"
        },
        "friends": {
            false: friendsLoad,
            true: friendsUnload,
            "load": false,
            "title": "Fool | Друзья"
        },
        "server-statistic": {
            false: serverStatisticLoad,
            true: serverStatisticUnload,
            "load": false,
            "title": "Fool | Статистиска по серверу"
        },
        "games-invites-container": {
            false: gamesInvitesLoad,
            true: gamesInvitesUnload,
            "load": false,
            "title": "Fool | Приглашения в игру"
        }
    };

    var invites = {
        "game": [],
        "friend": []
    };
    function updateMenuInfo() {
        $.getJSON("/api/get_game_invites", function (data) {
            invites.game = data;
            $('#new-game-invite').text(data.length ? data.length : '');
        });

        $.getJSON("api/users/get_friend_list?invited", function (data) {
            invites.friend = data;
            $('#new-friend').text(data.length ? data.length : '');
        });
    }

    function defaultLoad() {
    }

    function defaultUnload() {
    }

    function serverStatisticLoad() {
    }

    function serverStatisticUnload() {
    }

    function initMenu() {
        $(".selector").add(".menu > .selection").add(".container").filter(":not(#default)").add(".container-mini").hide();

        $(".menu-item").hover(function () { // Перемещение блока выбора
            $(".selector").filter('[group="' + $(this).attr('group') + '"]').show().css({
                top: $(this).position().top + "px"
            });
        });

        var x = $(".menu");
        x.find("> .menu-item[container-name]").add('#settings').click(onMenuItemClick);
        x.find("> .menu-item:not([container-name])").click(function () { // Клик по не выпадающему эл-ту
            $(".menu > .selection").add(".container").add(".container-mini").hide();
        });

        x.find("> .menu-item").click(function () { // Псевдо-клик по блоку выбора
            var self = this;

            function f() {
                $(".selector").filter('[group="' + $(self).attr('group') + '"]').css({
                    backgroundColor: "rgba(155, 237, 47, 0.5)"
                });
            }

            $(".selector").filter('[group="' + $(this).attr('group') + '"]').css({
                backgroundColor: "rgba(155, 237, 47, 0.8)"
            });

            setTimeout(f, 200);
        });
    }

    function onMenuItemClick() {// Клик по выпадающему элементу
        updateMenuInfo();
        var group = $(this).attr('group');
        var selection = $(".menu > .selection");
        var group2 = selection.attr('group');
        var containerToShow = $(this).attr('container-name');
        var containerToHide = selection.attr('position');

        if (containerToShow == containerToHide)
            containerToShow = 'default';

        if (containerToShow != 'default') {
            selection.attr('position', containerToShow);
            if ($(this).attr('id') !== 'settings' && group == group2)
                selection.css({
                    top: $(this).position().top + 'px'
                }).show();
            else
                selection.hide();
        } else
            selection.attr('position', 'default').hide();

        $("#" + containerToHide).hide();
        $("#" + containerToShow).show().filter('.container-mini').css({
            top: $(this).position().top + 'px'
        });

        if (loaders[containerToShow]) {
            setTimeout(loaders[containerToShow][false], 0);
            loaders[containerToShow].load = true;
            document.title = loaders[containerToShow].title;
        }
        if (loaders[containerToHide]) {
            setTimeout(loaders[containerToHide][true], 0);
            loaders[containerToHide].load = false;
        }
    }

    $(function () {
        $('#to_main_menu').find('> img').hide();
        addLoadBar($('header'), {position: 'top'}).hide();
        initMenu();

        updateMenuInfo();
        loaders.default[false]();
        setInterval(function () {
            updateMenuInfo();
        }, 10 * 1000);

        $('#logout').click(function () {
            $.ajax({
                url: "/api/destroy_session",
                success: function () {
                    window.location.href = '/static/login.html';
                }
            });
        });

        $.ajax({
            url: '/api/avatar?user=' + $(".user_name > span").text() + '&type=menu',
            success: function (data) {
                $('.user_name').find('img').eq(0).attr('src', data);
            }
        });
    })
</script>
<style>
    header {
        background-color: #90DD2B;
    }

    main {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: flex-start;
        height: calc(100% - 60px);
    }

    .container {
        position: relative;
        box-sizing: border-box;
        height: 100%;
        width: 100%;
        padding-left: 10px;
        z-index: -10;
    }

    .container-mini {
        position: relative;
        top: 41px;
        z-index: -10;
    }

    .container-mini > .menu {
        width: 400px;
        margin-left: 0;
    }

    .container-mini > .menu > .menu-item:last-child {
        border-bottom: none;
    }

    .menu {
        float: left;
        min-width: 270px;
    }

    .user_name {
        padding-top: 8px;
    }

    .user_name > * {
        float: left;
    }

    .user_name > img {
        border-radius: 2px;
        overflow: hidden;
        height: 24px;
        max-width: 50px;
        margin-right: 7px;
        margin-top: 3px;
    }

    .user_name > #settings {
        float: right;
        padding: 0;
        height: 30px;
        width: 30px;
    }

    .user_name > #settings > img {
        height: 30px;
    }
</style>
{% endblock %}
{% block body %}
<div class="hidden">
    <div class="friend">
        <img class="avatar" src="">

        <div class="friend-body">
            <div class="name">Leon</div>
            <div class="status">offline</div>
            <div class="buttons">
                <button class="more easy">
                    <img src="/static_/svg/ic_more_vert_black_24px.svg">
                </button>
                <button class="reject easy" style="display: none">
                    <img src="/static_/svg/ic_close_24px.svg">
                </button>
                <button class="add easy" style="display: none">
                    <img src="/static_/svg/ic_done_24px.svg">
                </button>
            </div>
        </div>
    </div>
    <div class="user">
        <div>
            <img class="avatar" src="/static_/svg/account-circle.svg">

            <div style="display: inline-block">
                <div class="name">-</div>
                <div class="status">offline</div>
            </div>
        </div>
        <div>
            <div class="mutual">N</div>
            <button class="add on"><img src="/static_/svg/ic_add_24px.svg"></button>
        </div>
    </div>
</div>
<div id="main-menu" class="menu standard-box" group="1">
    <div class="selector" group="1"></div>
    <div class="user_name" group="1">
        <img src="">
        <span>{{ user_name }}</span>
        <a id="settings" class="easy" group="1" container-name="settings_page" href="account_settings.html">
            <img src="/static_/svg/ic_settings_black_24px.svg">
        </a>
    </div>
    <div class="menu-item" group="1" container-name="new-games">
        Новая игра
        <span id="new-game-invite" class="menu-additional-inf"></span>
    </div>
    <div class="menu-item" group="1" container-name="friends">
        Друзья
        <span id="new-friend" class="menu-additional-inf"></span>
    </div>
    <div class="menu-item" group="1" container-name="server-statistic">Статистика по серверу</div>
    {% if admin %}
    <div class="menu-item" group="1">
        <a class="none" href="/static/server_statistic.html">Данные сервера</a>
    </div>
    {% endif %}
    <div id="logout" class="menu-item" group="1">Выйти из аккаунта</div>
    <div class="selection" group="1" position="default"></div>
</div>
<div id="default" class="container">
    <div class="standard-box">Main page</div>
</div>
<div id="new-games" class="container-mini">
    <div class="menu standard-box" group="2">
        <div class="selector" group="2"></div>
        <div class="menu-item" group="2"><a href="/arena?mode=0" class="none">Играть против ИИ</a></div>
        <div class="menu-item" group="2"><a href="/arena?mode=1" class="none">Игра против другого игрока</a></div>
        <div class="menu-item" group="2" container-name="games-invites-container">
            Играть с другом
        </div>
    </div>
</div>
<div id="games-invites-container" class="container">
    <div id="games-invites">
        <div class="body standard-box">
        </div>
    </div>
</div>
<div id="friends" class="container">
    <div id="friends-one">
        <div id="friend-dialog" class="standard-box">
            <a class="play none" href="#" href_tmp="/arena?mode=2&for=user">
                <img src="/static_/svg/play.svg">
                <span>Начать игру</span>
            </a>
            <button class="remove">
                <img src="/static_/svg/delete_people.svg">
                <span>Удалить из друзей</span>
            </button>
            <!--
            <button class="chat">
                <img src="/static_/svg/ic_chat_24px.svg"><span>Начать диалог</span>
            </button>
            -->
        </div>
        <div class="body standard-box">
        </div>
    </div>
    <div id="friends-two">
        <div class="body">
            <div id="find-user-box" class="standard-box">
                <div class="top">
                    <input id="find-user" placeholder="Введите имя пользователя">
                    <button id="find-user-btn"><img src="/static_/svg/ic_search_24px.svg"></button>
                </div>
                <div class="result">
                    <div class="body">
                        <div id="mutual_friends_dialog" class="standard-box" state="hide">
                            <span class="title">Общие друзья</span>
                        </div>
                        <div class="None">Ничего не найдено</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="server-statistic" class="container">server statistic</div>
{% endblock %}