* {
    outline: none;
    font-family: 'Roboto', 'PT Sans', sans-serif;
}

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: #146921;
}

.font700 {
    font-weight: 700;
}

.font500 {
    font-weight: 500;
}

.font400 {
    font-weight: 400;
}

.font300 {
    font-weight: 300;
}

.standard-box {
    background-color: white;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.1), 0 2px 3px 0 rgba(0, 0, 0, 0.2);
    border-radius: 2px;
}

.rotating-card {
    position: relative;
    width: 40px;
    margin-left: 10px;
    perspective: 200px !important;
}

#wait-box {
    position: relative;
    flex-direction: row;
}

#single-room-allowed-box > .msg, #single-room-allowed-box > button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#single-room-allowed-box > button {
    margin-top: 10px;
}

#single-room-allowed-box > .msg > img {
    height: 50px;
    width: 50px;
    margin-right: 10px;
}

#single-room-allowed-box > .msg > span {
    display: inline-block;
    width: 300px;
    text-align: left;
    font-size: 14pt;
    word-wrap: break-word;
}

#single-room-allowed-box > button > span {
    font-size: 14pt;
    font-weight: 500;
}

.background-of-msgbox {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(50, 55, 58, 0.6);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 100;
}

.background-of-msgbox > .standard-box {
    padding: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    color: #1B2024;
}

.background-of-msgbox span.message {
    text-align: center;
    font-size: 24pt;
}

#end-game-box > span.message {
    border-bottom: 1px solid #c2c2c2;
    padding-bottom: 13px;
}

#end-game-box > span.grey {
    text-align: center;
    font-size: 14pt;
    color: #c2c2c2;
}

#end-game-box > a, #end-game-box > button{
    display: inline-block;
    margin: 10px;
    text-align: center;
    font-size: 16pt;
}

#end-game-box > a:nth-child(2) {
    margin-top: 20px;
}

#end-game-box > a:nth-child(4) {
    margin-bottom: 0;
}

#menu-container {
    transition: top 0.5s ease;
    position: absolute;
    top: calc(-100% + 30px);
    z-index: 101;
    width: 100%;
    height: 100%;
}

#main {
    left: 0;
    width: 100%;
    height: calc(100% - 30px);
    background-color: #404548;
}

#open {
    width: 100%;
    height: 30px;
    background-color: #32373A;
}

#to_main_menu {
    float: left;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
    padding: 0 5px;
    font-size: 10pt;
    font-weight: 500;
    color: white;
    background-color: rgba(27, 32, 36, 0.6);
}

#to_main_menu:hover {
    background-color: rgba(27, 32, 36, 0.8);
}

#to_main_menu:active {
    background-color: #1b2024;
}

#to_main_menu > img {
    height: 15px;
    margin-right: 5px;
}

#open-btn {
    float: right;
    height: 100%;
    overflow: hidden;
    background-color: #1B2024;
    cursor: pointer;
}

#open-btn > img {
    transition: transform 0.5s ease;
    transform-origin: center center;
    height: 100%;
}

#open-btn > img.open {
    transform: rotateX(-180deg);
}

#open-btn > img:hover {
    transform: rotateY(180deg);
}

#open-btn > img.open:hover {
    transform: rotateX(-180deg) rotateY(180deg);
}

main {
    overflow: hidden;
    position: relative;
    top: 30px;
    margin: 0;
    padding: 0;
    width: 100%;
    height: calc(100% - 30px);
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.hidden {
    display: none;
}

.card {
    position: relative;
}

.card_border {
    overflow: hidden;
    position: relative;
    width: calc(0.2967 * 300px + 1px);
    height: calc(0.3012 * 430px - 1px);
}

.card_border > img {
    position: absolute;
    left: calc(-0.3494 * 300px);
    top: calc(-0.3517 * 430px);
    width: 300px;
    height: 430px;
}

#table {
    box-sizing: border-box;
    width: 80%;
    padding: 10px 10px 10px 10%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.hand {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.hand > .card {
    transition: 0.3s ease-out;
    display: inline-block;
    position: relative;
    width: calc(0.4 * 0.2967 * 300px);
    margin: 0;
    padding: 0;
}

#hand2 > .card.on {
    transform: translateY(-15px);
}

#hand2 > .card:not(.on) {
    transform: translateY(0);
}

#hand2 > .card.on img, #cancel_card.on img {
    opacity: 1;
}

#hand2 > .card:not(.on) img, #cancel_card:not(.on) img {
    opacity: 0.7;
}

#hand2 > .card.on:hover {
    width: calc(0.7 * 0.2967 * 300px);
    transform: translateY(-30px);
}

#arena {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 50px;
}

.pair {
    margin: 0 20px;
}

.pair > .card {
    height: calc(0.3 * 0.3012 * 430px);
}

.pair > .card:nth-child(2) {
    position: relative;
    left: calc(0.1 * 0.2967 * 300px);
}

#right {
    box-sizing: border-box;
    padding-right: 25px;
    height: 100%;
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}

#set {
    height: calc(0.3012 * 430px);
}

#set > .card {
    display: inline-block;
    position: relative;
    width: calc(0.01 * 0.2967 * 300px);
    margin: 0;
    padding: 0;
}

#set > .set_patch {
    display: inline-block;
    position: relative;
    width: calc(0.99 * 0.2967 * 300px);
    margin: 0;
    padding: 0;
}

#trump {
    position: absolute;
    height: 100%;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}

#trump > .card {
    transform: rotate(90deg) translate(0, 50%);
    display: inline-block;
    position: relative;
    width: calc(0.2967 * 300px);
    margin: 0;
    padding: 0;
}

#cancel_card {
    position: absolute;
    top: 75%;
    right: 25px;
    transition: 0.3s ease;
}

#cancel_card:hover {
    box-shadow: 0 0 20px 0 #ff0000;
}

#cancel_card:not(.on):hover {
    box-shadow: none;
}

#left {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.user-name {
    background-color: #1B2024 !important;
    margin: 20px 30px;
    font-size: 22pt;
    color: white;
    border-right: 0 solid #ff433e;
    transition: border 0.2s ease;
}

.user-name.on {
    border-right: 5px solid #ff433e;
}

.user-name > * {
    float: left;
}

.user-name > img {
    border-radius: 2px;
    overflow: hidden;
    margin: 5px;
    height: 25px;
    max-width: 50px;
}

.user-name > span {
    padding: 0 10px 0 5px;
}