/*==========================*/
button, button:focus {
    color: #1B2024;
    background-color: transparent;
    border: none;
    border-radius: 2px;
    padding: 5px 10px;
    cursor: pointer;
    transition: 0.2s ease;
}

button:hover {
    background-color: rgba(27, 32, 36, 0.1);
}

button:active {
    background-color: #1B2024;
    color: #F0F0F0;
}

/*==========================*/
button.easy, button.easy:focus {
    background-color: transparent;
    opacity: 0.50;
}

button.easy:hover {
    opacity: 0.80;
}

button.easy:active {
    opacity: 1;
}

/*==========================*/
button.red, button.red:focus {
}

button.red:hover {
    background-color: rgba(255, 67, 62, 0.5);
}

button.red:active {
    background-color: #ff433e;
}

/*==========================*/
button.raised, button.raised:focus {
    background-color: #F0F0F0;
    box-shadow: 0 2px 0 0 #505456;
}

button.raised:hover {
    box-shadow: 0 4px 0 0 #1B2024;
}

button.raised:active {
    background-color: #1B2024;
    color: #F0F0F0;
}

/*==========================*/
button.raised_color, button.raised_color:focus {
    background-color: #F0F0F0;
    box-shadow: 0 2px 0 0 #9bed2f;
}

button.raised_color:hover {
    box-shadow: 0 4px 0 0 #abff3f;
}

button.raised_color:active {
    background-color: #abff3f;
}

/*==========================*/
button.raised_color_red, button.raised_color_red:focus {
    background-color: #F0F0F0;
    box-shadow: 0 2px 0 0 #ff433e;
}

button.raised_color_red:hover {
    box-shadow: 0 4px 0 0 #ff433e;
}

button.raised_color_red:active {
    background-color: #ff433e;
    color: #1B2024;
}

/*==========================*/
button.color, button.color:focus {
    background-color: rgba(34, 50, 194, 0.2);
}

button.color:hover {
    background-color: rgba(34, 50, 194, 0.4);
}

button.color:active {
    background-color: rgba(34, 50, 194, 0.6);
}