body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
    background-color: #F0F0F0;
}

* {
    outline: none;
    font-family: 'Roboto', 'PT Sans', sans-serif;
}

header {
    color: #1B2024;
    position: relative;
    z-index: 100;
    height: 50px;
    padding: 5px 5px 5px 15px;
    font-size: 39px;
    font-weight: bold;
    background-color: white;
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.1), 0 2px 3px 0 rgba(0, 0, 0, 0.2);
}

main {
    position: relative;
    box-sizing: border-box;
    width: 100%;
    height: calc(100% - 60px - 25px);
    z-index: 0;
}

footer {
    position: relative;
    z-index: 101;
    height: 25px;
    background-color: white;
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.1), 0 1px 3px 0 rgba(0, 0, 0, 0.2);
}

.standard-box {
    background-color: white;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.1), 0 2px 3px 0 rgba(0, 0, 0, 0.2);
    border-radius: 2px;
}

.hidden {
    display: none;
}

.transition-transform {
    transition-property: transform !important;
}

input {
    margin-top: 20px;
    font-size: 16pt;
    font-weight: 300;
    padding-bottom: 2px;
    border: none;
    border-bottom: 1px solid #9f9f9f;
}