.menu {
    position: relative;
    z-index: 0;
    margin: 0;
    height: 100%;
    background-color: white;
}

.user_name, .menu-item {
    position: relative;
    z-index: 3;
    padding: 5px 5px 5px 15px;
    /*border-bottom: 1px solid #c2c2c2;*/
}

.user_name {
    font-size: 18pt;
    min-height: 30px;
}

.menu-item {
    font-weight: 300;
    font-size: 16pt;
    min-height: 27px;
}

.menu-item > a {
    display: inline-block;
    width: 100%;
    text-decoration: none;
    color: inherit;
}

.menu-item > a[href=''], .menu-item > a[href='#'] {
    text-decoration: none;
    color: #9f9f9f;
    cursor: default;
}

.user_name, .menu-item:nth-child(2) {
    border-top: none;
}

.user_name {
    background-color: #9bed2f;
    font-weight: 400;
}

.menu-item {
    cursor: pointer;
}

.selector, .selection {
    position: absolute;
    height: 37px;
    width: 100%;
}

.selector {
    z-index: 1;
    background-color: rgba(155, 237, 47, 0.5);
    transition: 0.2s ease;
    transition-property: top, background-color;
}

.selection {
    box-sizing: border-box;
    z-index: 2;
    border-right: 8px solid #9bed2f;
    transition: top 0.2s ease;
}

.menu-additional-inf {
    float: right;
    font-weight: 700;
    padding-right: 9px;
    z-index: 1000;
}